<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="solo12_transmission" params="prefix hw_interface">

    <transmission name="${prefix}FL_HAA_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}FL_HAA">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}FL_HAA_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}FL_HFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}FL_HFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}FL_HFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}FL_KFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}FL_KFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}FL_KFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}FR_HAA_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}FR_HAA">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}FR_HAA_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}FR_HFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}FR_HFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}FR_HFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}FR_KFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}FR_KFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}FR_KFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}HL_HAA_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}HL_HAA">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}HL_HAA_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}HL_HFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}HL_HFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}HL_HFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}HL_KFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}HL_KFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}HL_KFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}HR_HAA_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}HR_HAA">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}HR_HAA_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}HR_HFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}HR_HFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}HR_HFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}HR_KFE_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}HR_KFE">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}HR_KFE_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
