<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="solo12_ros2_control" params="name prefix use_gazebo_classic:=^|false" >

    <ros2_control name="${name}" type="system">

        <hardware>
            <xacro:if value="${use_gazebo_classic}">
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </xacro:if>
            <xacro:unless value="${use_gazebo_classic}">
                <plugin>solo12_hardware/RobotSystem</plugin>
            </xacro:unless>
        </hardware>

        <!-- FL_HAA -->
        <joint name="${prefix}FL_HAA">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- FL_HFE -->
        <joint name="${prefix}FL_HFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- FL_KFE -->
        <joint name="${prefix}FL_KFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- FR_HAA -->
        <joint name="${prefix}FR_HAA">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- FR_HFE -->
        <joint name="${prefix}FR_HFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- FR_KFE -->
        <joint name="${prefix}FR_KFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- HL_HAA -->
        <joint name="${prefix}HL_HAA">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- HL_HFE -->
        <joint name="${prefix}HL_HFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- HL_KFE -->
        <joint name="${prefix}HL_KFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- HR_HAA -->
        <joint name="${prefix}HR_HAA">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- HR_HFE -->
        <joint name="${prefix}HR_HFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <!-- HR_KFE -->
        <joint name="${prefix}HR_KFE">
            <command_interface name="position">
                <param name="min">-${pi}</param>
                <param name="max">${pi}</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

    </ros2_control>

  </xacro:macro>

</robot>