<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="solo12">

    <xacro:arg  name="transmission_hw_interface" 
                default="hardware_interface/EffortJointInterface"/>

    <xacro:arg  name="ros2_controllers_file_path" 
                default="$(find solo12_gazebo)/config/controllers.yaml"/>

    <xacro:include  filename="$(find solo12_description)/urdf/solo12.gazebo.xacro" />
    <xacro:solo12_gazebo  
            prefix="" />
    
    <!--
    <xacro:include  filename="$(find solo12_description)/urdf/solo12.transmission.xacro" />
    <xacro:solo12_transmission
            prefix=""
            hw_interface="${transmission_hw_interface}" />
    -->
    
    <!-- common gazebo stuff -->
    <!--<xacro:include  filename="$(find solo12_description)/urdf/common.gazebo.xacro" />-->

    <!-- solo -->
    <xacro:include  filename="$(find solo12_description)/urdf/solo12.urdf.xacro" />
    <xacro:solo12_quadruped   
            prefix="" />

    <!-- ROS2_CONTROL -->
    <xacro:include  filename="$(find solo12_description)/urdf/solo12.ros2control.xacro" />
    <xacro:solo12_ros2control 
            prefix="" />
</robot>